
body{
    
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #262626;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:95vh;
}
.firstd{
    position: sticky;
    top: 0;
border: 2px solid rgb(255, 255, 255);
border-right:none ;
border-radius: 20px 0px 0px 20px;
width: 200px;
align-self: flex-end;
color: rgb(109, 109, 109);
background-color: white;
box-shadow:  0 0 10px rgb(0, 204, 255),
             0 0 20px rgb(0, 204, 255),
             0 0 40px rgb(0, 204, 255) ;
transform: translateY(-200px);
text-align: center;
font-size: 19px;
height:  50px;}


.firstd h5{
    
    margin: 0px;
    padding-top: 3px;
    text-transform: capitalize;
    
}


.maindiv{
    text-align: center;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.maindiv #text{
    
    caret-color: rgb(0, 204, 255);
    text-align: center;
    border: none;
    border-bottom: 4px solid rgb(0, 204, 255) ;
    width:480px;
    background: transparent;
    outline: none;
    font-size: 35px;
    color: rgb(0, 203, 253);
    text-transform: capitalize;
}
#text::placeholder{
    color: rgba(6, 213, 255, 0.329);
    text-shadow:none;
    
}
.maindiv div{
    margin-top: 30px;
}
.maindiv button
{
    
    outline: none;
    padding:8px 20px ;
    background-color: transparent;
    text-transform: capitalize;
    border: 2px solid rgb(26, 141, 170);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 800;
    transition: all 0.5s ease-out;
    overflow: hidden;
    position: relative;
    box-shadow:  0 0 10px rgb(0, 204, 255),
    0 0 20px rgb(0, 204, 255),
0 0 40px rgb(0, 204, 255) ;
}
.maindiv button::before
{
content: '';
 position: absolute;
 top: 0;
 left: 0;
 

 width: 15px;
 height: 15px;
 z-index: -1;
 background-color: rgb(26, 141, 170);
 transition: transform .5s ease-out,width .5s ease-out,height .5s linear;
 border-radius: 100%;
 transform: translateX(45px)translateY(10px)rotateX(180deg)rotateY(90deg);
}

 .maindiv button:hover:before{
   transform: translateX(0)translateY(0px)rotateX(0deg)rotateY(0deg);
   width: 100%;
   border-radius: 20px;
   height: 100%;
   z-index: -1;
   box-shadow:  0 0 10px rgb(0, 204, 255),
             0 0 20px rgb(0, 204, 255),
             0 0 40px rgb(0, 204, 255) ;
 }



.main1div{
    margin-top: 2%;
    display: flex;
    justify-content: center;


}
.main1div ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 32px;
    text-transform: capitalize;
    width:480px;
}
ul li{
  
    padding-left: 20px;
    margin-top: 50px;
    width:400px;
    letter-spacing: 3px;
    border-bottom: 2px solid rgb(0, 204, 255) ;
    color: rgb(26, 141, 170);
    
}
ul li button{
    position: fixed;left: 62%;
    outline: none;
    padding:5px 15px ;
    margin-top: 1.2%;
    background-color: transparent;
    text-transform: capitalize;
    border: 2px solid rgb(26, 141, 170);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    transition: all 0.5s ease-out;
}
ul li button:nth-child(2){
    position: fixed;left: 67%;
 
}
li button:hover{
    background-color: rgb(26, 141, 170);
    
}